/* ==UserStyle==
@name           Dark Legacy Curseforge
@namespace      https://github.com/corgiblu/scripts
@homepageURL	https://github.com/corgiblu/scripts
@version        0.0.2
@description    A simple darkmode for the legacy curseforge
@author         CorgiBlu
@preprocessor   stylus
==/UserStyle== */
@-moz-document domain("legacy.curseforge.com/") {
    .container {
        --main-bg-color: cornflowerblue;
        --bg-color: #481248;
    }
    /*body {
        div:nth-child(3) {
            background-color: main-bg-color;
        }
    }*/
    .root-content {
        background-color: var(--main-bg-color) !important ;
    }
}