/* ==UserStyle==
@name           Dark Legacy Curseforge
@namespace      https://github.com/corgiblu/scripts
@homepageURL	https://github.com/corgiblu/scripts
@version        0.0.2
@description    A simple darkmode for the legacy curseforge
@author         CorgiBlu
@preprocessor   stylus
==/UserStyle== */
@-moz-document regexp("https?:\\/\\/legacy\\.curseforge\\.com.*") {
    .container {
        --main-bg-color: cornflowerblue;
        --bg-color: #481248;
    }
    /* 
        little tiny things 
        notification module background
    */
    .bg-white {
        //background-color: var(--bg-color);
    }
    /* /account/subscriptions background */
/*.box, .ui-dialog, .listing-container:not(.custom-formatting) .alert.no-results, .project-list-bubble-item, .u-dropDown:hover .u-dropDownMenu, .spoiler, body[class*="body-user-my"] .listing-user .user-list-item, body[class*="body-user-my"] .listing-user-profile .user-list-item, .body-user-followers .listing-user .user-list-item, .body-user-followers .listing-user-profile .user-list-item, .e-settings-container, .body-publicprojectsettings-members .field-errors, .body-publicprojectsettings-filedefaultrelations .field-errors, .body-publicprojectsettings-clientmatchexclusions span.field-errors:not(#field-path-error) {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0,0,0,.06);
	background-color: #17141b;
	border-color: #232323;
}*/
}